@import "../../scss/abstract/variables";

.avatar {
	background: $dark;

	&-img {
		transition: 0.5s;

		&:hover {
			transition: 0.5s;
			@apply pl-10 pt-10;
		}
	}
}

@media (max-width: 365px) {
	.full-name {
		@apply text-5xl;
	}
}
