h1 {
	@apply text-6xl font-bold;
}

h2 {
	@apply text-5xl font-bold;
}

h3 {
	@apply text-4xl font-bold;
}

h4 {
	@apply text-3xl font-bold;
}

h5 {
	@apply text-2xl font-bold;
}

h6 {
	@apply text-xl font-bold;
}

span {
	background: $wb-gradient;
	@apply text-transparent bg-clip-text;
}

p {
	@apply text-base;
}

a,
li {
	@apply no-underline text-sm;
}

li {
	@apply mb-4 list-disc;
}

.btn {
	&:hover {
		background: $wb-gradient;
		@apply border border-black transition-all text-black;
	}
}

.link {
	@apply cursor-pointer;

	&:hover {
		background: $wb-gradient;
		@apply bg-clip-text text-transparent transition-all;
	}
}
